/* HEADER */

.header {
    height: 80px;
    background: #2c2d2f;
    display: flex;
    align-items: center;
    width: 100%;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGOTYPE */

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    background: orange;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.menu_link a {
    color: orange;
    text-transform: uppercase;
}

.menu_link a:hover {
    text-decoration: underline;
}

/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background: black;
}

/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: #F79300;
    font-weight: 600;
}


/* SLIDER BLOCK */

.slider_block {
    padding: 100px 0;
    background: black;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 3px solid orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.slide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: white;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.slide_card h3 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

.slide_card p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

.slide_card a {
    color: orange;
    text-decoration: underline;
}

.slide.active_slide {
    display: block;
}

/* VIDEO BLOCK */

.block_video {
    background: black;
    padding: 100px 0;
}

.inner_block_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
